@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap');

/* main style for the whole body of the page*/
body {
    font-family: 'Nunito', sans-serif;
    background: #252525;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0
}


/* styling for the welcome id, using position absolute and top/bottom/right/left to 
move div to an absolute position on the screen*/
#welcome {
    position: absolute;
    top: 23%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    color: rgb(233, 216, 216);
    font-size: 35px;
}
/* Position footer to always be at the bottom of the screen*/
footer{
   position: absolute;
   top: 92%;
   bottom: 0;
   right: 0;
   left: 0;
   margin: auto;
   text-align: center;
   color: rgb(233, 216, 216);
}

/* Only for phone and tablet*/
#footerC {
    position: absolute;
    top: 92%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    color: rgb(233, 216, 216);
 }

 /* Navbar, made with help from youtube video, credit given in README file*/
nav {
    list-style: none; /*remove the dots next to the words*/
    margin: 5px;
    padding: 0px;
    background: #3f3f3f;;
    border-radius : 15px;
    overflow: auto;
}

nav li{
    float: right;
}

a{
    text-decoration: none;
}

nav li a{
    display: block;
    text-decoration: none;
    color: rgb(233, 216, 216);
    padding: 20px 30px;
    font-size: 18px;
}

nav li a:hover{
    background-color: #3FEBE1;
    color:black;
    border-radius: 15px;
}

nav img {
    padding: 10px 15px;
    float: left;
    width: 45px;
    height: 45px;
    border-radius: 105%;
}

/* Video for about me page, positions to the top right of screen under navbar*/
video {
    border-radius: 10px;
    width: 45%;
    position: relative;
    left: 50%;
    right: auto;
    top: 25px;
    border: 0px solid white;
}

/* picture for about me, positions to top left of screen, left of video*/
#pic { 
    border-radius: 15px;
    width: 36%;
    position: relative;
    right: 40%;
    bottom: -20px;
    border: 0px solid white;
}

#pic:hover{
    animation: rotation 5s infinite linear;

}

/* Title for about me*/
h2 { 
    color: rgb(219, 209, 209);
    font-size: 35px;
    text-align: center;
    padding-top: 30px;
}
/*all text for about me*/
.text_about_me {
    color: rgb(219, 209, 209);
    font-size: 21px;
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
}

/* The entire background box for form page, with a blue to black gradient*/
.form-box{
    width: 42%;
    height: 55%;    
    background: linear-gradient(black 25%, #3febe3 200% );
    border: 2px solid white;
    padding-top: 4%;
    padding-bottom: 4%;
    border-radius: 12px;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

/* Styling the specific attributes using the selector, credit to W3 schools*/
input[type=text],[type=email],[type=tel],select, textarea {
    font-family: 'Nunito', sans-serif;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: block;
    width: 85%;
    padding: 12px;
    box-sizing: border-box;
    margin: auto;
}
/* Styling the specific attributes using the selector, credit to W3 schools*/
input[type=message], select {
    display: block;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin:auto;
    font-family: 'Nunito', sans-serif;
}
/* Box to write questions and concerns in contact form */
textarea{
    resize: none;
    font-size: 15px;
}
/*Button for contact form*/
button{
    background-color: black;
    color: white;
    width: 25%;
    height: 30px;
    font-family: 'Nunito', sans-serif;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 6%;
    margin: auto;
    border-radius: 5px;
}

#buttonOne:hover{
    background: linear-gradient(35deg,black 30%, #3febe3 120% );
    color: white;
    border: 3px solid white;
    
}
/* Style for the input boxes*/
input {
    line-height: 25px;
    border-radius: 10px;
    margin-right: auto;
    margin-left:auto;
    margin-top: 5%;
    display: block;
    color:black;    
}
/* Styles for projects page*/
.projects {
    font-family: 'Nunito', sans-serif;
    color: rgb(233, 216, 216);
    font-size: 25px;
    padding-right: 90px;
    position: absolute;
    left: 5%;
}
/* Styles for projects page*/
h3{
    font-family: 'Nunito', sans-serif;
    color: rgb(233, 216, 216);
    font-size: 50px;  
}
/* Styles for projects page*/
p2 {
    position: relative;
    left: 3%;
}
